<!DOCTYPE html>
<html lang="en">

  <%- include("partials/head.ejs", {title: 'Carrito de compras'}) %> 


<body>
  <!-- HEADER -->

  <%- include("partials/header.ejs") %>

    <!-- MAIN -->
    <main>
      
      <% if (locals.usuarioAdmin) { %>
        <% productos.forEach(productos=> { %>
            <%- include("product.ejs", {productos : productos}) %>
                <% }) %>
                    <% } else { %>
                        <% productos.forEach(productos=> { %>
                            <%- include("productCarrito.ejs", {productos : productos}) %>
                                <% }) %>
                                    <% } %>

      <div class="footer-main-carrito-de-compras">
        <p class="h3-subtotal">SUBTOTAL</p>
        <p class="p-subtotal">$0</p>
        <p class="h3-total">TOTAL DE TU COMPRA</p>
        <P class="p-total">$0</P>
      </div>
    </main>


    <!-- PIE DE PAGINA -->

    <%- include("partials/footer.ejs") %>

</body>

</html>