<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/styleHome.css">
	<link rel="icon" type="image/x-icon" href="/images/Logo San José para pared2.png">
	<title>Creacion de producto</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
</head>

<body>

	<%- include("partials/header.ejs") %>

		<div class="contain-main">

			<section class="create-section">


				<div class="h2-div">

					<h2>Formulario de creación de productos</h2>


					<img class="img-createProduct" src="/images/Logo San José para pared2.png" alt="Imagen del logo">

				</div>

			</section>

			<form class="form-create" action="/productos/createProduct"  method="POST" enctype="multipart/form-data">

				<div class="control-form">

					<label for="name">Nombre del producto:</label>
					<input type="text" placeholder="Maria Luisa" name="nombre" id="name" class="control" required>

				</div>

				<div class="control-form">

					<label for="price">Precio del producto:</label>
					<input type="text" placeholder="EJ: $30.000" name="precio" id="price" class="control" required>

				</div>
				

				<div class="control-form">

					<label for="image1">Imagen 1 del producto:</label>
					<input type="file" placeholder="Jose Sanchez" name="imagen" id="image1" class="control-img">

				</div>

				<div class="control-form">

					<label for="image2">Imagen 2 del producto:</label>
					<input type="file" placeholder="Jose Sanchez" name="imagen" id="image2" class="control-img">

				</div>

				<div class="control-form">

					<label for="image3">Imagen 3 del producto:</label>
					<input type="file" placeholder="Jose Sanchez" name="imagen" id="image3" class="control-img">

				</div>

				<div class="control-form">

					<label for="size">Tamaño del producto:</label>
					<input type="text" placeholder="EJ: 15" name="tamanio" id="size" class="control" required>

				</div>

				<div class="control-form">

					<label for="category">Categoria</label>
					<select name="categoria" id="category" class="control" required>
						<% for (let i = 0; i < categorias.length; i++) { %>
							<% if (categorias[i].idCategorias == productos.categorias_id) {%>

								<option value="<%=categorias[i].idCategorias%>" selected>
									<%=categorias[i].categoria%>
								</option>

							<% } else { %>

								<option value="<%=categorias[i].idCategorias%>">
									<%=categorias[i].categoria%>
								</option>

							<% } %>

						<% } %>
					</select>

				</div>

				<div class="control-form">
					<label for="description" class="form-label">Descripción:</label>
					<textarea name="descripcion" id="description" class="area-fieldc"></textarea>
				</div>

				<div class="button-formc">

					<button type="submit">Guardar producto</button>

				</div>

				<div class="button-formc2">

					<button type="submit"><a href="/Productos/editarProduct/0">¿Deseas editar algun
							producto?</a></button>

				</div>


			</form>


		</div>


		<%- include("partials/footer.ejs") %>

</body>

</html>