<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="icon" type="image/x-icon" href="/images/Logo San José para pared2.png">
    <title>listado de productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

    <!-- Main -->

    <% if(productos) { %>
    <article class="card">
        <div class="card-left">
            <figure>
                <img src="/images/IMG-1596.JPG" alt="">
            </figure>
    
            <h3><%= productos.nombre %></h3>
    
        </div>
        <div class="card-content">
<<<<<<< HEAD
        
            <h3 class="h3-detail">precio: <%= productos.precio %></h3>
=======
            
            <h3 class="h3-detail">precio: <%= productos.precio %> </h3>
>>>>>>> 2d8d0ade72070e807396ee0643f08f3720ee94aa
    
            <p class="p-detail">Tamaño: <span><%= productos.tamaño %></span></p>

            <p class="p-detail">descripcion: <span><%= productos.descripcion %></span></p>

            <p class="p-detail">categoria: <span><%= productos.categorias.categoria %></span></p>

<<<<<<< HEAD

            <div class="ver-detalle">

                <a class="ver-detalle-a" href="/productos/editarProduct/<%= productos.idProductos %>">Editar</a>
=======
            <div class="ver-detalle">

                <a class="ver-detalle-a" href="/productos/editarProduct/<%= productos.idProductos %>">Editar</a>

>>>>>>> 2d8d0ade72070e807396ee0643f08f3720ee94aa

            </div>
            
            <div class="ver-detalle-detail">

                <a class="ver-detalle-a" href="/productos/productdetail/<%= productos.idProductos %>">ver detalle del producto</a>

            </div>
    
        </div>
    
    </article>
    <% } else { %>
        <h2>No encontramos este producto</h2>
    <% } %>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>


    
</body>
</html>