<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs", {title: 'Detalle'}) %> 

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

    <!-- Main -->

    <% if(productos) { %>
    <article class="card cardDetail">
        <div class="card-up">
            <figure>
                <img src="/images/Productos/<%= productos.imagen_1 %>" alt="">
            </figure>
    
            
        </div>
        <div class="card-content">
            <h3><%= productos.nombre %></h3>
        
            <h3 class="h3-detail">precio: <%= productos.precio %></h3>

    
            <p class="p-detail">Tamaño: <span><%= productos.tamaño %></span></p>

            <p class="p-detail">descripcion: <span><%= productos.descripcion %></span></p>

            <p class="p-detail">categoria: <span><%= productos.categorias.categoria %></span></p>

            
            
            <div class="ver-detalle">

                <a class="ver-detalle" href="/productos/productdetail/<%= productos.idProductos %>">ver producto</a>

            </div>
    
        </div>
    
    </article>
    <% } else { %>
        <h2>No encontramos este producto</h2>
    <% } %>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>


    
</body>
</html>