<div class="product-contain">

    <div class="product-home">
        
      <div>
        <h3 class="h3-product-name"><%= productos.nombre %></h4>
          <div class="div-img-home"><br>
  
          <img class="img-product-home" src="/images/Productos/<%= productos.imagen_1 %>"
            alt="Imagen de torta">
  
          </div>
      </div>
      <div class="slide-text">
        <h4 class="h4-product">Tamaño: <%= productos.tamaño %></h4>
        <h4 class="h4-product">Precio: <%= productos.precio %></h4>
      </div>

      
      
    

      <div class="div-btn-agregar">

        <a class="btn-agregar" href="/productos/productdetail/<%= productos.idProductos %>"><i class="fas fa-check-circle"></i> Ver Detalle</a>

      </div>

    </div>

  </div>