<div class="product-contain">

    <div class="product-home">
        
        <h3 class="h3-product-name"><%= productos.nombre %></h4>
        <div class="div-img-home"><br>

        <img class="img-product-home" src="/images/Productos/<%= productos.imagen_1 %>"
          alt="Imagen de torta">

      </div>
      <br><br>
      <h4 class="h4-product">Precio: <%= productos.precio %></h4><br>
      <h4 class="h4-product">Tamaño: <%= productos.tamaño %></h4>

      
      <%/*<div class="sizes-home">

        <div class="circles-container">

          <ul class="ul-circle">

            <li class="li-cakesize">Pequeño</li>

            <li class="li-circle">

              <div class="circle">

                <a class="a-portion" href="#">

                  <span>

                    <span>4</span>
                    <br>
                    <span>Porciones</span>

                  </span>
                </a>

              </div>

            </li>

            <li class="li-price">

              <span>

                <span>$20.000</span>

              </span>

            </li>
          </ul>

        </div>

        <div class="circles-container">

          <ul class="ul-circle">

            <li class="li-cakesize">Mediano</li>

            <li class="li-circle">

              <div class="circle">

                <a class="a-portion" href="#">

                  <span>

                    <span>6 - 8</span>
                    <br>
                    <span>Porciones</span>

                  </span>
                </a>

              </div>

            </li>

            <li class="li-price">

              <span>

                <span>$35.000</span>

              </span>

            </li>
          </ul>

        </div>

        <div class="circles-container">

          <ul class="ul-circle">

            <li class="li-cakesize">Grande</li>

            <li class="li-circle">

              <div class="circle">

                <a class="a-portion" href="#">

                  <span>

                    <span>10 - 12</span>
                    <br>
                    <span>Porciones</span>

                  </span>
                </a>

              </div>

            </li>

            <li class="li-price">

              <span>

                <span>$55.000</span>

              </span>

            </li>
          </ul>

        </div>

      </div>*/%>
    

      <div class="div-btn-agregar">

        <a class="btn-agregar" href="/productos/detail/<%= productos.idProductos %>"><i class="fas fa-check-circle"></i> Ver Detalle</a>

      </div>

    </div>

  </div>