<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="icon" type="image/x-icon" href="/images/Logo San José para pared2.png">
    <title>Ingresa tu cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <title>Perfil de usuario</title>
</head>

<body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <section class="usuario-content">
            <div>

                <h1 class="nombre-usuario">Bienvenido: <%= user.nombre %></h1>

            </div>
            <div>

                <img class="img-usuario" src="/images/avatars/<%= user.avatar %>">

            </div>
            <div>

                <p class="email-usuario">email: <%= user.email %></p>
            </div>
            
        </section>

        <!-- Footer -->
        <%- include("partials/footer.ejs") %>

</body>

</html>