-admin<article class="card-admin">
    <div class="card-left-admin">
        <figure>
            <img src="/images/Productos/<%= productos.imagen_1 %>" alt="">
        </figure>

        <h3><%= productos.idProductos %></h3>

    </div>
    <div class="card-content-admin">
        
        <h3 class="h3-product-admin"><%= productos.nombre %></h3>

        <p class="p-product-admin">precio: <span><%= productos.precio %></span></p>

        <p class="p-product-admin">Tamaño: <span><%= productos.tamaño %></span></p>

        <div class="ver-detalle-admin">

            <a class="ver-detalle-a-admin" href="/productos/editarProduct/<%= productos.idProductos %>">Editar</a>


        </div>

        <div class="ver-detalle-admin">
            <a class="ver-detalle-a-admin" href="/productos/detail/<%= productos.idProductos %>">Ver detalle</a>
        </div> 
    </div>

</article>