<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fa28797ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="icon" type="image/x-icon" href="/images/Logo San José para pared2.png">
    <title>Detalle de producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
</head>

<body>

    <%- include("partials/header.ejs") %>

        <!-- Main -->

        <div class="contain-mainPD">

            <section class="product-detail">

                <div class="item-left">

                    <div class="product-name">

                        <h2>
                            <%= productos.nombre %>
                        </h2>

                    </div>

                    <div class="div-big-img">

                        <a href=""><img class="big-img" src="/images/Productos/<%= productos.imagen_1 %> " alt=""></a>

                    </div>

                    <div class="div-litle-imgs">

                        <a href=""><img class="litle-img" src="/images/Productos/<%= productos.imagen_2 %>" alt=""></a>

                        <a href=""><img class="litle-img" src="/images/Productos/<%= productos.imagen_3 %>" alt=""></a>

                    </div>

                </div>

                <div class="item-right">

                    <div class="div-description">

                        <p>
                            <%= productos.descripcion %>
                        </p>

                    </div>

                    <div class="sizes">

                        <div class="circles-container">

                            <ul class="ul-circle">

                                <li class="li-cakesize">Pequeño</li>

                                <li class="li-circle">

                                    <div class="circle">

                                        <a class="a-portion" href="#">

                                            <span>

                                                <span>4</span>
                                                <br>
                                                <span>Porciones</span>

                                            </span>
                                        </a>

                                    </div>

                                </li>

                                <li class="li-price">

                                    <span>

                                        <span>$20.000</span>

                                    </span>

                                </li>
                            </ul>

                        </div>

                        <div class="circles-container">

                            <ul class="ul-circle">

                                <li class="li-cakesize">Mediano</li>

                                <li class="li-circle">

                                    <div class="circle">

                                        <a class="a-portion" href="#">

                                            <span>

                                                <span>6 - 8</span>
                                                <br>
                                                <span>Porciones</span>

                                            </span>
                                        </a>

                                    </div>

                                </li>

                                <li class="li-price">

                                    <span>

                                        <span>$35.000</span>

                                    </span>

                                </li>
                            </ul>

                        </div>

                        <div class="circles-container">

                            <ul class="ul-circle">

                                <li class="li-cakesize">Grande</li>

                                <li class="li-circle">

                                    <div class="circle">

                                        <a class="a-portion" href="#">

                                            <span>

                                                <span>10 - 12</span>
                                                <br>
                                                <span>Porciones</span>

                                            </span>
                                        </a>

                                    </div>

                                </li>

                                <li class="li-price">

                                    <span>

                                        <span>$55.000</span>

                                    </span>

                                </li>
                            </ul>

                        </div>

                    </div>


                    <div class="div-add-button">

                        <button class="add-button" type="submit">Agregar al Carrito</button>

                    </div>

                </div>

            </section>

        </div>
        <!-- PIE DE PAGINA -->

        <%- include("partials/footer.ejs") %>

</body>

</html>