<article class="card">
    <div class="card-left">
        <figure>
            <img src="/images/IMG-1596.JPG" alt="">
        </figure>

        <h3><%= productos.idProductos %></h3>

    </div>
    <div class="card-content">
        
        <h3 class="h3-product"><%= productos.nombre %></h3>

        <p class="p-product">precio: <span><%= productos.precio %></span></p>

        <p class="p-product">Tamaño: <span><%= productos.tamaño %></span></p>

        <div class="ver-detalle">
            <a class="ver-detalle-a" href="/productos/detail/<%= productos.idProductos%>">Ver detalle</a>
        </div> 
    </div>

</article>